extends layout

block content
  h1= title
  p(class="h4") API #{version}
  br

  h3 Endpoints
  div
     table(class="table")
        thead(class="thead-dark")
           tr
              th(scope="col") METHOD
              th(scope="col") ENDPOINT
              th(scope="col") DESC
              th(scope="col") PARAMS
        tbody
           tr
              td(scope="row") GET
              td /auth
              td <b>Listado de Endpoints</b>
              td [Username: admin Password: zabbix]
           tr
              td(scope="row") POST
              td /auth/ttl/[TTL]
              td <b>Genera un nuevo Token con el TTL especificado (ej. 10s, 10m, 1h, 1d, 1y) Default 1h</b>
              td Authorization: Basic [Credenciales codificadas en base64 - Username: admin Password: zabbix]
           tr
              td(scope="row") POST
              td /auth/verify
              td <b>Verifica la caducidad del Token</b>
              td Authorization: Bearer [Token]
