extends layout

block content
  h1= title
  p(class="h4") API #{version}
  br

  h3 Lista de servicios (namespace) a consultar 
  div(class="h5" style="height: 50px;") <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/aws-services-cloudwatch-metrics.html"  target="_blank">NameSpaces</a>
  div(class="alert alert-dark" role="alert") Mas informacion: <a href="https://docs.aws.amazon.com/es_es/AmazonCloudWatch/latest/monitoring/viewing_metrics_with_cloudwatch.html" target="_blank">Docs AWS</a>
  br

  h3 Endpoints
  div
     table(class="table")
        thead(class="thead-dark")
            tr
              th(scope="col") METHOD
              th(scope="col") ENDPOINT
              th(scope="col") DESC
              th(scope="col") PARAMS
        tbody
            tr
               td(scope="row") GET
               td /api/v1
               td <b>Listado de Endpoints</b>
               td
            tr
               td(scope="row") GET
               td /api/v1/health
               td <b>Healthcheck de la API</b>
               td Authorization: Bearer [Token]
            tr
               td(scope="row") POST
               td /api/v1/get/btoken
               td <b>Recupera el Bearer Token</b>
               td Authorization: Basic [Token]
            tr
               td(scope="row") GET
               td /api/v1/aws/listmetrics
                  div(style='text-align: left;font-size: 12px;color: red;')
                     br
                     | <b>Pasar en el Body</b>
                     pre.
                       {
                          "Config": {
                             "Account": "pro",
                             "Region": "eu-west-1"
                           },
                           "Metric": {
                              "Namespace": "AWS/DX"
                           }
                       }   
               td <b>Listrar todas las metricas que presenta el Namespace (Short Method)</b><br><b>El Namespace AWS/DX se pasa de la siguiente forma AWX-DX</b>
               td Authorization: Bearer [Token]
            tr
               td(scope="row") POST
               td /api/v1/aws/getmetrics
                  div(style='text-align: left;font-size: 12px;color: red;')
                     br
                     | <b>Pasar en el Body</b>
                     pre.
                        {
                            "Config": {
                                "Account": "pro",
                                "Region": "eu-west-1"
                            },
                            "Metric": {
                                "Namespace": "AWS/RDS",
                                "MetricName": "CPUUtilization",
                                "Dimensions": [
                                    {
                                        "Name": "EngineName",
                                        "Value": "postgres"
                                    }
                                ],
                                "Statistics": ["SampleCount", "Average", "Sum", "Minimum", "Maximum"]
                            }
                        }
               td <b>Listrar el valor de la metrica solicitada (Short Method)</b>
               td Authorization: Bearer [Token]