extends layout

block content
  h1= title
  p(class="h4") API #{version}
  br

  h3 Endpoints
  div
     table(class="table")
        thead(class="thead-dark")
           tr
              th(scope="col") METHOD
              th(scope="col") ENDPOINT
              th(scope="col") DESC
              th(scope="col") HEADER
        tbody
           tr
              td(scope="row") GET
              td /health
              td <b>Healthcheck</b>
              td 
           tr
              td(scope="row") GET
              td /auth
              td <b>Listado de Endpoints</b>
              td Authorization: Basic [Credenciales codificadas en base64 - Username: admin Password: zabbix]
           tr
              td(scope="row") POST
              td /auth/get/credentials
              td <b>Genera un nuevo Token con el TTL de 1h</b>
              td Authorization: Basic [Credenciales codificadas en base64 - Username: admin Password: zabbix]
           tr
              td(scope="row") POST
              td /auth/get/credentials/forever
              td <b>Genera un nuevo Token con el TTL de 100 años</b>
              td Authorization: Basic [Credenciales codificadas en base64 - Username: admin Password: zabbix]
           tr
              td(scope="row") POST
              td /auth/verify
              td <b>Verifica la caducidad del Token</b>
              td Authorization: Bearer [Token]
           tr
              td(scope="row") GET
              td /api/v1
              td <b>Listado de Endpoints disponibles</b>
              td Authorization: Bearer [Token]
